.footer{
    .footer-inner{
        display: flex;
        justify-content: space-between;
        background-color: cl(blue);
        color: cl(white);
    }
    .nav-wrapper{

    }
    .nav-list{
        margin-top: 20px;
        @include overTab{
            margin-top: 49px;
            display: flex;
            margin-left: 191px;
        }
        @media only screen and (max-width: 950px) {
            margin-left: 60px;
        }
    }
    .nav-item{
        margin-top: 10px;
        margin-left: 10px;
        font-weight: bold;
        a{
            color: cl(white);
        }
        @include overTab{
            margin-top: 0;
            margin-left: 0;
            margin-right: 43px;
            a{
                font-size: 16px;
            }
            display: inline-block;
            position: relative;
            &::after{
                content:"";
                display:inline-block;
                width:1px;
                height: 23px;
                background-color:cl(white);
                position:absolute;
                top:-2px;
                right:-50%;
            }
            &:last-child{
                &::after{
                    content: none;
                }
            }

        }
    }
    .logo-list{
        margin-right: 172px;
        margin-top: 35px;
        text-align: right;
        @media only screen and (max-width: 950px) {
            margin-right: 60px;
        }
        .logo-image{
            background-color: cl(white);
            display: inline-block;
        }
        .phone-num{
            margin-top: 27px;
            justify-content: flex-end;
            display: flex;
            .image{
                margin-right: 7px;
            }
            .num{
                font-size: 16px;
                font-weight: bold;
            }
        }
        .open-time{
            margin-top: 13px;
            font-size: 12px;
        }
    }
    .copyright{
        color:cl(black);
        font-size: 12px;
        margin-top: 12px;
        text-align: right;
        margin-bottom: 12px;
        margin-right: 10px;
        margin-right: 173px;
        @media only screen and (max-width: 950px) {
            margin-right: 60px;
        }
    }
}